.header a {
  @include font(600, 12px, 1.33, 0.1em);
  // font-weight: 600;
  // font-size: 12px;
  // line-height: 1.33;
  // letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}

.logo {
  margin-right: 131px;
}

.navigation {
  margin-right: auto;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  // position: fixed;
  // left: 120px;
}

.header-nav {
  display: flex;
  gap: 30px;
}

.header-nav-link {
  /* text-decoration: none; */
  color: #ffffff;
  transition: color 250ms linear;
  &:hover,
  &:focus,
  &.current {
    color: #ff6c00;
  }
  &:active {
    color: #000;
  }
}

// .header-nav-link:hover,
// .header-nav-link:focus,
// .header-nav-link.current {
//   color: #ff6c00;
// }

.header-contact {
  /* font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em; */
  text-transform: uppercase;
}

.header-btn {
  /* font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer; */
  /* border: 1px solid #ff6c00;
  border-radius: 25px; */
  color: #ffffff;
  margin-left: 43px;
}
