.hero-container {
  display: flex;
  padding: 0;
  // @media screen and (min-width: 480px) {
  //   max-width: 100%;
  // }
  // @media screen and (min-width: 768px) {
  //   max-width: 720px;
  //   padding: 0 15px;
  // }
  // @media screen and (min-width: 1200px) {
  //   max-width: 1200px;
  // }
  @include mobile {
    max-width: 100%;
  }
  @include tablet {
    max-width: 720px;
    padding: 0 15px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

.hero-soc-wrap {
  width: 100px;
  // display: flex;
  display: none;
  align-items: flex-end;
  padding-left: 26px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hero-list {
  /* background-color: #ffffff; */
  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}

// .hero-list::before {
//   content: "";
//   width: 60px;
//   height: 1px;
//   background-color: #303030;
// }

.hero-link {
  @include font(600, 11px, 1.36, 0.2em);
  // font-weight: 600;
  // font-size: 11px;
  // line-height: 1.36;
  // letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

// .hero-link:hover,
// .hero-link:focus {
//   color: #ff6c00;
// }

/* .hero-wrap {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-img-3.jpg);
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
  position: relative;
} */

.hero-wrap {
  overflow: hidden;
  // width: 100%;
  // height: 580px; /* Высота слайдера */
  position: relative;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../../images/hero-img-mob-1.jpg), url(../../images/hero-img-mob-2.jpg),
    url(../../images/hero-img-mob-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 208px 128px 209px 31px;
  flex-grow: 1;
  // z-index: -1;
  @include retina {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../../images/hero-img-mob-1-2x.jpg),
      url(../../images/hero-img-mob-2-2x.jpg),
      url(../../images/hero-img-mob-3-2x.jpg);
  }
  @include mobile {
    // width: 100%;
    // height: 580px; /* Высота слайдера */
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../../images/hero-img-tab-1.jpg), url(../../images/hero-img-tab-2.jpg),
      url(../../images/hero-img-tab-3.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../../images/hero-img-tab-1-2x.jpg),
        url(../../images/hero-img-tab-2-2x.jpg),
        url(../../images/hero-img-tab-3-2x.jpg);
    }
  }
  @include tablet {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../../images/hero-img-desk-1.jpg),
      url(../../images/hero-img-desk-2.jpg),
      url(../../images/hero-img-desc-3.jpg);
    height: 680px;
    padding: 272px 114px 237px 114px;
    @include retina {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../../images/hero-img-desk-1-2x.jpg),
        url(../../images/hero-img-desk-2-2x.jpg),
        url(../../images/hero-img-desk-3-2x.jpg);
    }
  }
  @include desktop {
    z-index: -1;
    padding: 272px 100px 208px 100px;
  }
}

.hero-slider img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &:nth-child(1) {
    animation: slide 15s infinite;
  }

  &:nth-child(2) {
    animation: slide 15s infinite 2.5s;
  }

  &:nth-child(3) {
    animation: slide 15s infinite 5s;
  }
}

/* Анимация для автопереключения слайдов */
// .hero-slider img:nth-child(1) {
//   animation: slide 15s infinite;
// }

// .hero-slider img:nth-child(2) {
//   animation: slide 15s infinite 2.5s;
// }

// .hero-slider img:nth-child(3) {
//   animation: slide 15s infinite 5s;
// }

@keyframes slide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
  66.66% {
    opacity: 0;
  }
  86.66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.hero-text {
  position: absolute;
  z-index: 1;
}
.hero-uptitle {
  color: #9da4bd;
  opacity: 0.6;
  margin-bottom: 20px;
}

.hero-title {
  font-family: var(--font-raleway);
  @include font(null, 42px, 1.33, 0.05em);
  color: #ffffff;
  margin-bottom: 20px;
  // @include font(null, 72px, 1.18, 0.05em);
  // font-size: 72px;
  // line-height: 1.18;
  // letter-spacing: 0.05em;
  @media screen and (min-width: 480px) {
    @include font(null, 48px, 1.16, 0.05em);
  }
  @media screen and (min-width: 1200px) {
    @include font(null, 72px, 1.18, 0.05em);
  }
}

.hero-subtitle {
  @include font(null, 16px, 1.62, 0.02em);
  // @include font(null, 18px, 1.67, 0.02em);
  // font-size: 18px;
  // line-height: 1.67;
  // letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 362px;
  @media screen and (min-width: 768px) {
    @include font(null, 18px, 1.67, 0.02em);
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero-arrow-list {
  display: none;
  @include tablet {
    @include font(600, 11px, calc(15 / 11), 0.01em);
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    // font-weight: 600;
    // font-size: 11px;
    // line-height: calc(15 / 11);
    // letter-spacing: 0.01em;
    z-index: 1;
    margin-bottom: 49px;
    margin-right: 20px;
    gap: 20px;
  }
}

.hero-arrow-link {
  display: inline-block;
  width: 60px;
  color: #9da4bd;
  opacity: 0.6;
}

.hero-arrow-link:hover,
.hero-arrow-link:focus {
  color: #fff;
}

.hero-arrow-link::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #9da4bd;
  margin-top: 10px;
}
